/* Для дектоп */

@media screen and (min-width: 1200px) {
    * {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f5f7;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color:#444;
}

.accent {
    color: #e5563d;
    font-family:'Times New Roman', Times, serif;
    font-size: 140%;
}

.screen {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
}

.card img {
    width: 100%;
}

.category {
    font-size: 14px;
    color: #555;
    display: block;
    margin-top: 5px;
}

.name {
    font-weight: bold;
    margin: 5px 0;
    color:#444;
}

.cal {
    font-size: 13px;
    color: #666;
}

.filters {
    width: 220px;
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.filter-btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    cursor: pointer;
}

.filter-btn:hover {
    background: #eaeaea;
}

.filter-btn.reset {
    background: #ddd;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #444;
}

footer .contact
{
    float:inline-start;
}

footer .data
{
    float:inline-end;
}

.email
{
    color:rgb(95, 123, 160);
    cursor: pointer;
}

.info
{
    float:right;
}
}

/* Для планшетів */

@media screen and (min-width: 730px) and (max-width: 1200px) {
    
}

/* Для телефонів */

@media screen and (min-width: 375px) and (max-width: 730px) {
    
}